body {
    background: none;
    background-color: rgba(244, 132, 94, 0.7);
}
.activities {
    margin-top: 80px;
}
.activity {
    max-width: 700px;
    box-shadow: 0 0 3px 0px #F37347;
    padding: 20px;
    margin: 20px;
    transition: 0.3s;
}
.activity:hover {
    box-shadow: 0 0 10px 0px #F37347;
    cursor: default;
}
.activity .col-12 {
    padding: 0;
}
.activity span {
    text-align: right;
}
#toggle {
    width: 70px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background-color: #cccccc;
}
#toggle:hover {
    cursor: pointer;
}
#toggle label {
    background-color: transparent;
    position: relative;
    left: -70px;
}
#toggle span {
    display: inherit;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.3s;
    position: relative;
    left: 0;
    top: -32px;
}
#toggle.toggled span {
    left: 40px;
}
#toggle.toggled {
    background-color: #5D7EBF;
}