{% extends 'home.html' %}
{% load static %}

{% block title %}Activities{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/activities.css' %}">
{% endblock css %}
{% block content %}
<script type="application/json" id="user">
    {
        "user": "{{ request.user }}"
    }
</script>
<div class="container text-center activities">
    <div class="mr-auto text-left">
        <i class="fas fa-copy"></i>
    </div>
    <div id="toggle" class="ml-auto{% if private %} toggled{% endif %}">
        <label>Private</label>
        <span></span>
    </div>
    {% for activity in activities %}
        <div class="row activity ml-auto mr-auto text-left">
            <h5 class="col-12">{{ activity.activity }}</h5>
            <span class="col-12 text-right">{{ activity.time_of_activity }}</span>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/activities.js' %}"></script>
{% endblock js %}